<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pottyware.pottytime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MainActivity">
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".FirebaseBackgroundService"
            android:exported="false"
            >

        </service>

        <!--<intent-filter>-->
            <!--<action android:name="com.pottyware.pottytime.FirebaseBackgroundService" />-->
        <!--</intent-filter>-->

        <receiver android:name=".StartFirebaseAtBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".PottyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_potty"
            android:theme="@style/FullscreenTheme"></activity>

        <activity android:name=".GoogleSignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>